/* TYPOGRAPHY */
/* ___________________________________ */

/* QUICKSAND */
@import url("https://use.typekit.net/fvi8uiw.css");

/* font-family: "quicksand",
sans-serif; */


/* Georgia pro */
@import url("https://use.typekit.net/fvi8uiw.css");

/* font-family: "georgiapro",
sans-serif; */



/* VARIABLES */
/* ___________________________________ */

:root {

    /* farver */
    --blue: #255885;
    --green: #018475;
    --font: #1e1e1e;


    /* skrift størrelser */
    --fs_h1_desktop: 3.25rem;
    --fs_h2_desktop: 2.5rem;
    --fs_h3_desktop: 1.5rem;
    --p_desktop: 1.375rem;
    --accordium_desktop: 2rem;
    --card_button_text_desktop: 1.25rem;

    --fs_h1_mobile: 1.375rem;
    --fs_h2_mobile: 1.125rem;
    --fs_h3_mobile: 1rem;
    --p_mobile: 1rem;
    --accordium_mobile: 0.8125rem;
    --card_button_text_mobile: 0.75rem;


    /* font tykkelse */
    --fs_bold: 700;
    --fs_semibold: 600;
    --fs_medium: 500;
    --fs_regular: 400;


    /* spacere */
    --sektion_spacer_desktop: 6.25rem;
    --text_spacer_desktop: 1.875rem;
    --margin_desktop: 15.625rem;
    --gap: 1.875rem;

    --sektion_spacer_mobile: 3.125rem;
    --text_spacer_mobile: 0.9375rem;
    --margin_mobile: 1.875rem;


    /* border radius */
    --border_radius_cards: 5px;
    --border_radius_buttons: 10px;

}


/* GENERAL STYLING */
/* ___________________________________ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "georgiapro", sans-serif;
    margin-bottom: var(--text_spacer_desktop);
}

p,
a {
    font-family: "quicksand", sans-serif;
    font-weight: var(--fs_medium);
    line-height: 150%;
    margin-bottom: var(--text_spacer_desktop);
}

h1 {
    margin-block: var(--sektion_spacer_desktop);
    text-align: center;

}



/* FORSIDE KODES HER */











































































































































































































































































































/* FACILITETER KODER HER */


main {
    margin-inline: var(--margin_desktop);
}

.breadcrumb {
    display: none;
}

/* Z-layout styling - START */

/* .z_layout {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.z_layout img {
    order: -1;
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: var(--border_radius_buttons);
}

.z_layout .text_section {
    width: 100%;
} */

/* Z-layout styling - SLUT */

.overnatning_h2 {
    margin-top: var(--text_spacer_mobile);
}

/* Card styling - START */

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    background: white;
    border-radius: var(--border_radius_buttons);
    width: 100%;
}

.card img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: var(--border_radius_buttons);
}

.card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.75rem;
    padding: 1rem;
}

.card_title {
    font-size: var(--fs_h3_mobile);
    font-weight: var(--fs_bold);
    text-align: left;
    margin: 0 0 0.5rem 0;
}


.card p {
    font-size: var(--p_mobile);
    margin-bottom: 0.5rem;
    max-width: 100%;
}


.card_wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(324px, 1fr));
    gap: var(--sektion_spacer_mobile);
    justify-content: center;
    max-width: 200px;
    margin: 0 auto;
}

.card a {
    max-width: 100%;
    margin-bottom: 1rem;
}

/* Card styling - SLUT */


.buttonClose {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.button-link {
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    background-color: var(--green);
    border-radius: var(--border_radius_buttons);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    font-family: "quicksand", sans-serif;
    font-weight: var(--fs_bold);
    display: block;
    text-align: center;
    transition: 0.3s ease-in-out;
    font-size: var(--card_button_text_mobile);
}

/* Modal styling - SLUT */

@media screen and (max-width: 750px) {
    .card_wrapper {
            grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
 }

}


@media screen and (min-width: 999px) {
    main {
        margin-inline: 150px;
    }

    /* Breadcrumb styling - START */

    ul.breadcrumb {
        display: block;
        padding: 1rem var(--generalSpacer);
        list-style: none;
        background-color: var(--darkOrange);
        justify-content: start;
        width: 100%;
    }

    ul.breadcrumb li {
        display: inline;
        font-size: var(--fs-text);
    }

    ul.breadcrumb li+li:before {
        padding: 1rem;
        color: black;
        content: ">\00a0";
        font-weight: var(--fs_bold);
    }

    ul.breadcrumb li a {
        color: black;
        text-decoration: none;
    }

    .breadcrumb li:last-child a {
        font-weight: var(--fs_bold);
        text-decoration: underline;
    }

    .breadcrumb li:first-child a:hover {
        color: black;
        text-decoration: underline;
    }

    /* Breadcrumb styling - SLUT */

    /* Card Styling Desktop - START */


    .card img {
        height: 381px;
    }

    .card {
        width: 324px;
        height: 650px;
    }

    .card_title {
        font-size: var(--fs_h3_desktop);
    }


    .card p {
        font-size: var(--p_desktop);
        margin-bottom: 1rem;
    }

    .card_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--text_spacer_desktop);
        justify-content: center;
    }

    .button-link {
        font-size: var(--card_button_text_desktop);
        max-width: 50%;
    }

    .button-link:hover {
        transform: scale(1.1);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
    }

    /* Card Styling Desktop - SLUT */
    }

    /* Første tekst sektion inde på modalet - SLUT */



    /* Z-layout styling - START */

    /* .z_layout {
        display: grid;
        grid-template-columns: repeat(3, minmax(324px, 1fr));
        gap: var(--gap);
        margin-bottom: var(--sektion_spacer_desktop);
    }

    .z_layout img {
        order: 0;
        height: 420px;
        object-position: center;
    }

    .z_layout a {
        text-decoration: none;
        color: white;
        padding: 1rem 2rem;
        background-color: var(--green);
        border-radius: var(--border_radius_buttons);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
        font-family: "quicksand", sans-serif;
        font-weight: var(--fs_bold);
        display: inline-block;
        transition: 0.3s ease-in-out;
    }

    .z_layout a:hover {
        transform: scale(1.1);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
    } */


/* Z-layout - SLUT */







































































































































































































































































































/* LEGEPLADS KODES HER */











































































































































































































































































































/* MINIGOLF KODES HER */











































































































































































































































































































/* MUSLINGE SAFARI KODES HER */











































































































































































































































































































/* OM OS KODES HER */











































































































































































































































































































/* OMGIVELSER KODES HER */











































































































































































































































































































/* OVERNATNING KODES HER */











































































































































































































































































































/* PETANQUE KODES HER */











































































































































































































































































































/* POOL STYLES HER */











































































































































































































































































































/* PRAKTISK INFORMATION STYLES HER */











































































































































































































































































































/* PRISER STYLES HER */