/* TYPOGRAPHY */
/* ___________________________________ */



/* VARIABLES */
/* ___________________________________ */



/* GENERAL STYLING */
/* ___________________________________ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
